.menu_wrapper {
  background-color: rgba(246, 246, 246, 1);
  padding: 0 15px 0 15px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-bottom: 50px;
  margin-top: -80px;
  position: relative;
  @media screen and (min-width: $breakpoint) {
    max-width: 1440px;
    margin: auto;
    margin-top: -45px;
  }
}

.title_wrapper {
  display: flex;
  justify-content: space-between;
  font-family: "shrikhand";
  font-weight: 400;
  font-size: 20px;
  padding-top: 5px;
  margin-left: 5px;
  @media screen and (min-width: $breakpoint) {
    justify-content: center;
    padding-top: 40px;
  }

  h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @media screen and (min-width: $breakpoint) {
    button {
      margin-left: 30px;
    }
  }
}

.menu_category {
  padding-bottom: 40px;
  @media screen and (min-width: $breakpoint) {
    padding: 0 300px;
    margin-bottom: 50px;
  }

  h3 {
    font-weight: 400;
    font-size: 16px;
    border-bottom: 3px solid rgba(153, 226, 208, 1);
    width: 40px;
    padding-bottom: 5px;
  }
}

.heart {
  @include heart;
}

.menu_img img {
  object-fit: cover;
  width: 100%;
  height: 383px;
}

.entree {
  animation: itsme 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

.plats {
  animation: itsme 1s;
  animation-delay: 0.8s;
  animation-fill-mode: both;
}

.desserts {
  animation: itsme 1s;
  animation-delay: 1.1s;
  animation-fill-mode: both;
}

.title_wrapper button {
  background-color: rgba(246, 246, 246, 1);
  border: none;
  font-size: 25px;
  margin-right: 20px;
  margin-top: 5px;
}

.menu_repas {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .repas {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 69px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15.04px;
    box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px
      rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }

  h2 {
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition-duration: 0.3s;
  }

  .repas:hover h2 {
    padding-right: 70px;
    transition-duration: 0.3s;
  }

  p {
    font-weight: 300;
    font-size: 15px;
    margin-top: -10px;
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition-duration: 0.3s;
    padding-right: 60px;
  }

  .repas:hover P {
    padding-right: 110px;
    transition-duration: 0.3s;
  }
}

.repas_price {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-weight: 700;
  transition-duration: 0.5s;
}

.repas_check {
  position: absolute;
  right: -70px;
  transition-duration: 0.5s;
  background-color: #99e2d0;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    background-color: white;
    color: #99e2d0;
    border-radius: 100px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(195deg);
    transition-duration: 0.5s;
  }
}

.repas:hover .repas_check {
  margin-right: 70px;
  transition-duration: 0.5s;
}

.repas:hover .repas_check i {
  transform: rotate(0);
}

.repas:hover .repas_price {
  margin-right: 60px;
  transition-duration: 0.5s;
}

.menu_button {
  display: flex;
  justify-content: center;

  button {
    @include button;
  }
}
